#main-content {
    display: flex;
    }
    #left-column, #right-column {
    flex: 1;
    background-color: #ffa600;
    padding: 10px;
    }
    #center-column {
    flex: 2;
    background-color: yellow;
    padding: 10px;
    }
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    }