<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Libri Game - Threads</title>
	<link rel="stylesheet" href="/css/threads.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/navbarEfooter.css">
		<link rel="stylesheet" href="/css/modale.css">

	
	<script src="https://kit.fontawesome.com/6d28393a02.js" crossorigin="anonymous"></script>
	
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-md" id= "nav">
        <div class = "justify-content-start mt-1 ms-5">
          <a class="navbar-brand" href="/homepagePortale.html">
            <i id="logo" class="fa-solid fa-book-bookmark"></i>
            <strong id="nomePortale">BookSpace</strong>
        </a>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a id="home" class="nav-link" href="/homepagePortale.html">Home |</a>
              <a id="threads" class="nav-link active" aria-current="page" href="/thread/1">Threads |</a>
              <a id="gallerialibri" class="nav-link" href="/showGallery.html">Galleria libri |</a>
              <a id="profilo" class="nav-link" href="/profiloPersonale.html">Profilo |</a>
              <a id="accedi" class="nav-link" role="button">Accedi |</a>
				<a id="logout" role="button" class="nav-link" onclick="logout()">Logout</a>
            </div>
    </nav>
    
    <!--modale-->
	<div id="myModal" class="modal">
    <div class="modal-contente">
      <span class="close">&times;</span>
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'SignUp')" id="defaultOpen">Registrati</button>
        <button class="tablinks" onclick="openTab(event, 'LogIn')">Accedi</button>
      </div>
      <div id="SignUp" class="tabcontent">
        <!-- Form di registrazione -->
        <form>
		  <input type="text" id="registeruser" placeholder="Username">
		  <input type="password" id="registerpassword" placeholder="Password">
          <input type="text" id="registernome" placeholder="Nome">
          <input type="text" id="registercognome"  placeholder="Cognome">
		  <input type="email" id="registeremail"    placeholder="Email">
          
          <input type="submit" value="Registrati" onclick="send()">
        </form>
      </div>
      <div id="LogIn" class="tabcontent">
        <!-- Form di accesso -->
        <form>
          <input type="text" id="usernameLogin" placeholder="Username">
          <input type="password" id="password" placeholder="Password">
          <input type="submit" id="accedisito"  value="Accedi" onclick="loginAlSito()">
        </form>
      </div>
    </div>
  </div>
    
	<br> <br>
	<p th:text="${idBlog}" class="hidden" id="blogId" name="raffaeleMioPadre"></p>

	<div class="container" style="margin-top: 10%;">
		<div class="row align-items-start">
			<div class="col-7" id="provaCard">
				<ul id="postList"></ul>
			</div>
			<div class="col-1">

			</div>
			<div class="col-4">
				<div class="card mb-4">
					<div class="card-header">Tutti i thread</div>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<ul class="list-unstyled mb-0" id="threadList">
								</ul>
							</div>
						</div>
					</div>
					<button type="button" class="button-8" role="button" data-bs-toggle="modal"
						data-bs-target="#addPost">
						Aggiungi un post
					</button>
					<div class="modal fade" id="addPost" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Posta qualcosa</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<label><b>Titolo del post</b></label>
									<br>
									<input class="w3-input w3-border w3-margin-bottom" type="text"
										placeholder="Di che cosa vuoi parlare?" name="titolo" id="postTitolo" required>
										<br>
									<label><b>Corpo del post</b></label>
									<textarea maxlength="2000" class="form-control" id="aggiungiPost" rows="4"
										placeholder="Attento, hai solo 2000 caratteri!"></textarea>
									<label class="form-label" for="aggiungiPost"></label>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Torna ai post</button>
									<button type="button" class="btn btn-primary"
										th:onclick="addPost([[${idBlog}]])">Posta</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer fixed-bottom footer-expand-md">
		<p id="copyright" class="col-md-4 mb-0 text-muted" style="margin-left: 1%;">&copy; 2023 JAITA - 74, Gruppo Verde.</p>
	
		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		  <i id="social1" class="fa-brands fa-facebook"></i>
		  <i id="social2" class="fa-brands fa-twitter"></i>
		  <i id="social3" class="fa-brands fa-google"></i>
		  <i id="social4" class="fa-brands fa-instagram"></i>
		  <i id="social5" class="fa-brands fa-linkedin"></i>
		</a>
	
		
	  </footer>
	  
	  <script src="/js/modale.js"></script>
	  <script src="/js/logout.js"></script>
	  <script src="/js/login.js"></script>
	<script src="/js/createAccount.js"></script>
	<script src="/js/loginNavbar.js"></script>
	<script src="/js/thread.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

</body>

</html>