nav {
	background: lightsalmon;

}

#home {
	font-size: 170%;
	font-weight: bolder;

}

#threads {
	font-size: 170%;
	font-weight: bolder;
}

#gallerialibri {
	font-size: 170%;
	font-weight: bolder;
}

#profilo {
	font-size: 170%;
	font-weight: bolder;

}

#accedi {
	font-size: 170%;
	font-weight: bolder;
}

#logout {
	font-size: 170%;
	font-weight: bolder;
}

#logo {
	font-size: 40px;
}

#nomePortale {
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
}

.nav-link {
	font-weight: bolder;
	font-family: 'Courier New', Courier, monospace;

}


/*background-size: 2000px   1000px;*/


footer {
	background: lightsalmon;

}

#copyright {
	-webkit-text-fill-color: rgb(0, 0, 0);
	font-family: 'Courier New', Courier, monospace;
}

#social1 {
	font-size: 25px;
	margin-right: 50px;
	color: rgb(0, 0, 0);


}

#social2 {
	font-size: 25px;
	margin-right: 50px;
	color: rgb(0, 0, 0);

}

#social3 {
	font-size: 25px;
	margin-right: 50px;
	color: rgb(0, 0, 0);

}

#social4 {
	font-size: 25px;
	margin-right: 50px;
	color: rgb(0, 0, 0);


}

#social5 {
	font-size: 25px;
	color: rgb(0, 0, 0);
}


span {

	cursor: pointer
}