.checked {
	color: orange;
}

.under {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.over {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 65%;
	z-index: -1;
}
#vot{
	font-style: italic;
	color:lightgray;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	
}
body {display:inline-block;min-width:100%; }