nav {
	background: rgb(246, 186, 100);
	background: linear-gradient(90deg, #f3a436 0%, rgba(244, 239, 212, 1) 83%);
}

#logo {
	font-size: 50px;

}




footer {
	background: rgb(20, 18, 18);

}

#copyright {
	-webkit-text-fill-color: coral;
}

#social1 {
	font-size: 40px;
	margin-right: 50px;
	color: coral;


}

#social2 {
	font-size: 40px;
	margin-right: 50px;
	color: coral;

}


#social3 {
	font-size: 40px;
	margin-right: 50px;
	color: coral;


}

#social4 {
	font-size: 40px;
	margin-right: 50px;
	color: coral;


}

#social5 {
	font-size: 40px;
	color: coral;
}


span {

	cursor: pointer
}


