nav{
    background-color: #8456a2;
}

.nav-link{
    color: yellow;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: yellow;
    background-color: purple;
}

body {
  background-image: url('../img/backgroundWallpaper.jpeg');
  background-position: relative;
  background-repeat: no-repeat;
  background-color: black;
  
}

#paragrafo{
    color: yellow;
}

#benvenuti{
    color: yellow;
}

#lastFooter{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8456a2;
}


section{
	text-align: center;
}


span{
	
	cursor: pointer;}
	
